* {
    margin: 0;
    padding: 0;   
}

html {
    
    font-size: 10px;
}
ul,li {    
    list-style: none;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {    
    width: 1000px;
    margin: 100px auto;    
}

.board_list_wrap {    
    width: 1000px;
    margin: 100px auto;    
    position: relative;
    left: 50%;
    transform: translate(-50%);
    bottom: 175px;
}

.board_title {   
    margin-bottom: 30px;
    position: relative;
    bottom: 90px;
}

.board_title strong {
    font-size: 3rem;
}

.board_title p {
    
    margin-top: 5px;
    font-size: 1.4rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display : inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #187771;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child{
    margin-left: 0;
}

.bt_wrap a.on {
    background: #187771;
    color: #fff;
}
.like_bt_wrap{        
    text-align: center;
}
.like_bt_wrap a{
    display : inline-block;
    width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #187771;
    border-radius: 2px;
    font-size: 1.4rem;
    text-align: center;
    position: relative;
    top: 10px;
    
}

.like_bt_wrap a.on {
    background: #187771;
    color: #fff;
}
.board_list {
    
    border-left: 1px solid #187771;
    border-right: 1px solid #187771;
    width: 100%;
    border-top: 2px solid #187771;
}

.board_list > div {
    
    border-bottom: 1px solid #187771;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid #187771;
}

.board_list > div:last-child{
    border-bottom: 1px solid #ddd;
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}

.board_list > div.top > div {
    font-weight: 600;
}

.board_list .num{
    width: 10%;
    border-right: 1px solid #187771;
}

.board_list .title{
    width: 59%;
    text-align: left;
    border-right: 1px solid #187771;
    margin-left: 5px;
}
.board_list .top .title{
    text-align: center;
}

.board_list .writer{
    width: 10%;
    border-right: 1px solid #187771;
}

.board_list .date{
    width: 10%;
    border-right: 1px solid #187771;
}

.board_list .count{
    width: 10%;
}
.board_list .Declaration_count{
    width: 10%;
}

.삭제버튼{
    margin: 0px;
    padding: 0px;
    border: 0; 
    
}
.board_page {    
    width:1025px;
    position: relative;
    left: 50%;
    transform: translate(-50%);   
    margin-top: 30px;
    text-align: center;
    
    

}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #1fa098;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt{
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
    border-left: 1px solid #1fa098;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.4rem;
    border-left: 1px solid #1fa098;
    
}

.board_page a.num.on{
    border-color: #187771;
    background: #187771;
    color: #fff;
}

.board_page a:first-child{
    border-left: 1px solid #1fa098;
}







